p {
    font-size: x-large;
}

p1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

p2 {
    font-weight: 100;

}

p3 {
    text-decoration: none;
}

.static {
    position: static;
    border: 3px solid #73AD21;
}

.relative {
    position: relative;
    left: 30px;
    text-align: center;
    border: 3px solid orange;
}

.fixed {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid yellow;
    background-color: black;
    color: white;
}

.relative1 {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid black;
    text-align: center;
}

.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid brown;
    text-align: center;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    text-align: center;
  }